nav ul a, nav .brand-logo {
  color: white;
}

img {
  width: 120px;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
}

.parallax-header {
  min-height: 320px;
}

.parallax-container .section {
  width: 100%;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .parallax-container .section {
    top: 0;
  }
}


/* search styling */
input-field input[type=text]+label, .materialize-textarea:focus:not([readonly])+label {
  color: white !important;
}

.input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.input-field input[type=text]:focus+label, .materialize-textarea:focus:not([readonly])+label {
  color: white !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.material-icons {
  color: white !important;
}

.material-icons.active {
  color: white !important;
}

.input-field [type=text] {
  color: white;
}

/* margin for page elements */
.row {
  margin-top: 50px;
}

/* .card-image {
  height: 384px;
  width: 283px;
} */