nav ul a, nav .brand-logo {
  color: white;
}

#navbarLogo {
  height: 60px;
  margin-top: 2px;
}

img {
  width: 120px;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
}

.parallax-header {
  min-height: 320px;
}

.parallax-container .section {
  width: 100%;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .parallax-container .section {
    top: 0;
  }
}

/* search styling */

input-field input[type=text]+label, .materialize-textarea:focus:not([readonly])+label {
  color: white !important;
}

.input-field input[type=text], .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

.input-field input[type=text]:focus+label, .materialize-textarea:focus:not([readonly])+label {
  color: white !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.material-icons {
  color: white !important;
}

.material-icons.active {
  color: white !important;
}

.input-field [type=text] {
  color: white;
}

/* margin for page elements */

.row {
  margin-top: 50px;
}

.gameImage {
  height: 220px;
}

.playerCardImg {
  width: 254px;
  height: 254px;
}

.timeZone {
  font-size: 18px !important;
}

#teamBio {
  margin-top: 0;
}

#map {
  height: 300px;
  
  width: 100%;
  
}

.teamTitle{
  margin-left: 14%;
}

#hiddenSearch {
  display: hidden;
}

.footie {
  padding-top: 0px;
}

/* map */

#map {
  height: 250px;
}

/* Optional: Makes the sample page fill the window. */

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}